@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap");
/*-------------------------- reset ----------------------------------------*/
* {
  box-sizing: border-box;
}

/*-------------------------- Generales ----------------------------------------*/
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(/imagenes/fondoBody.svg);
  background-repeat: no-repeat;
  background-size: 1490px;
  background-position: top right;
}

/*-------------------------- estilos iconos ----------------------------------------*/
.bi {
  color: black;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
}

i:hover {
  color: rgb(255, 0, 102);
  transition: 0.4s;
}

/*-------------------------- estilos header ----------------------------------------*/
.header {
  display: flex;
  justify-content: right;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem;
}

header a {
  margin-left: 2.2rem;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

/*************************************************** css de la api **********************************************************************/
.map {
  background-color: rgb(147, 147, 147);
  width: 50%;
  height: 350px;
  border-radius: 1rem;
}

.contenedor-mapa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-bottom: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info p {
  max-width: 50%;
  text-align: center;
}

.mapa-titulo {
  margin-top: -15px;
  color: #454545;
  text-align: left;
  width: 80%;
}

.ico-mapa {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #525252;
}

.lista-mapa li {
  list-style: none;
  margin-bottom: 25px;
  color: #525252;
}

/********************************************************** css de la api del clima ***********************************************************************/
.containerApp {
  left: 0;
  top: 1px;
  margin-left: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: sans-serif;
  box-shadow: 5px 5px 15px rgba(140, 140, 140, 0.263);
}

.search_submit {
  display: flex;
}

.search {
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.search:focus {
  outline: none;
}

.boton_clima {
  visibility: hidden;
}

.containerApp.day {
  background-image: linear-gradient(rgb(96, 176, 246), rgb(142, 240, 255));
}

.containerApp.night {
  background-image: linear-gradient(rgb(1, 62, 67), rgb(1, 17, 32));
}

.containerApp.night .inputTemp {
  color: white;
}

.containerApp.night .contenedor_derecha {
  color: white;
}

.inputTemp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem;
}

.celcius_iconos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inputTemp_number {
  display: flex;
  align-items: center;
}

.inputTemp_celsius {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.inputTemp_symbol {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.descripcion .inputTemp_description {
  font-weight: bold;
  color: #0a9dce;
  font-size: 0.8rem;
}

.descripcion .inputTemp_description::first-letter {
  text-transform: uppercase;
}

.location {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.location_city {
  margin-right: 1rem;
}

.min-max {
  display: flex;
  justify-content: space-around;
  color: #0a9dce;
  font-weight: 600;
}

.max, .min {
  margin-left: 10px;
}

#weatherIcon {
  width: 60px;
  height: 60px;
  -o-object-fit: coverl;
     object-fit: coverl;
}

.iconos {
  width: 60px;
}

/*---------------- estilos contenedor principal ----------------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  width: 70vw;
}

.main-buscar {
  height: 100vh;
}

/*------------------- estilos contenedor info ----------------------------------------*/
.contenedor {
  width: 50%;
}

/*-------------------------- ivonos redes ----------------------------------------*/
.redes {
  display: flex;
  justify-content: left;
  width: 50%;
  margin-top: 2.5rem;
}

.redes a {
  margin-right: 5rem;
}

.titulo {
  margin-bottom: 2.3rem;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: black;
  color: rgb(239, 203, 4);
  border: 0;
}

.btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(239, 203, 4);
  transition: 0.4s;
}

/*-------------------------- estilo formulario ----------------------------------------*/
.formulario {
  z-index: 1000;
  margin-top: -250px;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(220, 220, 220);
  border: 3px solid rgb(202, 201, 201);
  color: rgb(149, 148, 148);
}

.form-title {
  text-align: center;
  width: 40%;
}

input {
  margin-bottom: 1rem;
}

input[type=text],
[type=email] {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(201, 201, 201);
}

input::-moz-placeholder {
  color: rgb(215, 214, 216);
}

input::placeholder {
  color: rgb(215, 214, 216);
}

input[type=submit] {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: black;
  color: rgb(239, 203, 4);
  border: 0;
}

.registrarse:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(239, 203, 4);
  transition: 0.4s;
}

.botones {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

/*------------------- estilos cursos general ----------------------------------------*/
.cursos-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 50px;
  padding-bottom: 2rem;
}

.cursos-tarjeta-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursos-titulo {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 0;
  margin-top: 2rem;
}

.cursos-tarjeta {
  max-width: 300px;
  max-height: 550px;
  overflow: hidden;
  border-radius: 1rem;
}

.cursos-tarjeta-titulo {
  text-align: center;
  color: rgb(112, 111, 111);
  z-index: 100;
}

.cursos-tarjeta img {
  -o-object-fit: unset;
     object-fit: unset;
  width: 100%;
  border-radius: 1rem;
}

/*----------------estilos cursos desarrollo web----------------------------------------*/
.desarrollo-web {
  width: 100%;
}

.desarrollo-titulo {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: grey;
  margin-bottom: 0;
  margin-top: 2rem;
}

.desarrollo-contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desarrollo-img {
  width: 50%;
}

.desarrollo-parrafo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: rgb(136, 137, 136);
}

.negrita {
  font-size: 1.3rem;
  font-weight: bold;
}

.resaltado {
  text-align: left;
}

.btn-parrafo {
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
}

/*----------------estilos cursos diseno grafico----------------------------------------*/
.diseno-grafico {
  width: 100%;
  margin-top: 3rem;
}

.diseno-titulo {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: grey;
  margin-bottom: 0;
  margin-top: 2rem;
}

.diseno-contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.diseno-img {
  width: 50%;
}

.diseno-parrafo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: rgb(136, 137, 136);
}

.negrita {
  font-size: 1.3rem;
  font-weight: bold;
}

.resaltado {
  text-align: left;
}

.btn-parrafo {
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
}

/*----------------estilos cursos marketing digital----------------------------------------*/
.marketing-digital {
  width: 100%;
  margin-top: 3rem;
}

.marketing-titulo {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: grey;
  margin-bottom: 0;
  margin-top: 2rem;
}

.marketing-contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marketing-img {
  width: 50%;
}

.marketing-parrafo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: rgb(136, 137, 136);
}

.negrita {
  font-size: 1.3rem;
  font-weight: bold;
}

.resaltado {
  text-align: left;
}

.btn-parrafo {
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
}

/*----------------estilos cursos marketing digital----------------------------------------*/
footer {
  background-color: #49b2d4;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-weight: 100;
}

.copy {
  font-size: 1.2rem;
}/*# sourceMappingURL=main.css.map */