
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(213, 213, 213);
  }
  .cabecera{
    text-align: center;
  }
  
  
  /* formulario de inicio de sesion */
  form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 25px;
    box-shadow: 0 5px 10px grey;
    border-radius: .5rem;
    border: 0;
  }
  form .ingresoTitle {
    color: #cb232c;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  form  label {
    margin-bottom: 2rem;
  }
  .bi {
    color:#cb232c;
    font-size: 2rem;
  }
  #login {
    background-image: linear-gradient(rgb(249, 16, 16), rgb(141, 1, 1));
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 40px;
  }
  #login:hover{
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(249, 121, 16), rgb(222, 6, 6));
    
  }
  input {
    border: none;
    border-bottom: 1px solid rgb(198, 202, 206);
  }
  input:focus{
    background-color: rgb(255, 228, 228);
    border: 0;
  }
  input::placeholder {
    color: rgb(224, 224, 224);
  }